@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
  --body-bg: #333;
  --paper: #f3dfc1;
  --cover: #2c3e50;
  --txt-header: #3e5771;

  --blue: #426782;
  --red: #db4437;
  --yellow: #f4b400;
  --black: #000;
  --grey: #7a7a7b;
}

/* ------ Common ----- */
.mt-s {
  margin-top: 1.4rem;
}

* {
  font-family: Times, Helvetica, serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  background-color: var(--body-bg);
  overflow: hidden;
}

.align-item--center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

h1 {
  margin-bottom: -0.6rem;
  font-size: 2.2rem;
  color: var(--blue);
  font-style: italic;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1.35rem;
}

a {
  text-decoration: none;
  color: unset;
}

img {
  border-radius: 5px;
  outline: transparent;
  border: 10px double rgba(0, 0, 0, 0.6);
}

/* ------------------ */
.book-wrap {
  perspective: 250rem;
  height: 80vh;
  width: 60%;
  border-radius: 1rem;
  padding: 2rem;
  position: relative;
  opacity: 0;
  transform: rotate(-20deg);
  animation: show-up 2s forwards;
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: var(--cover);
  box-shadow: 0 0 10rem rgba(0, 0, 0, 0.3);
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  transform-origin: 100% 100%;
  transition: transform 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  transform: rotateY(0);
}

.cover.turn {
  transition: transform 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  transform: rotateY(180deg);
}

.cover-left {
  z-index: -1;
}

.book {
  perspective: 250rem;
  height: 100%;
  width: 100%;
  display: flex;
}

.book-page {
  position: relative;
  width: 50%;
  height: 100%;
  padding: 2rem;
  display: grid;
  background-color: var(--paper);
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.2), 0px 0px 1.5rem rgba(0, 0, 0, 0.1);
  transform-origin: 0% 0%;
  transform: rotateY(0deg);
  transition: transform 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.text-center {
  text-align: center;
}

.bg-img {
  background-position: initial;
  background-size: cover;
  background-repeat: no-repeat;
}

.avt {
  width: 7rem;
  height: 7rem;
  border-radius: 2rem;
  margin: auto;
}

.name {
  color: var(--blue);
  font-size: 2.6rem;
}

.social-list {
  margin-top: 0.8rem;
}

.social-list i {
  margin: 0 0.5rem;
  font-size: 2.2rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.social-list i.fb,
.social-list i.linked {
  color: #346a91;
}

.social-list i.git {
  color: var(--black);
}

.social-list i.fb:hover,
.social-list i.linked:hover {
  transform: scale(1.1) rotate(30deg);
}

.social-list i.git:hover {
  transform: scale(1.1) rotate(-30deg);
}

.introduce {
  text-align: left;
  font-size: 1.6rem;
  line-height: 1.6;
}

.txt-header {
  font-weight: 800;
  color: var(--blue);
}

.page-right {
  position: absolute;
  right: 0;
  transform-style: preserve-3d;
}

.page-right.turn {
  transition: transform 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  transform: rotateY(-180deg);
}

.page-front,
.page-back {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 2rem;
  overflow: hidden;
}

.page-front {
  transform: rotateY(0deg) translateZ(1px);
}

.page-back {
  transform: rotateY(180deg) translateZ(1px);
}

.wrap-content {
  text-align: left;
  position: relative;
  height: 100%;
}

.flex-top {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.time {
  float: right;
  font-size: 1.2rem;
}

.page-change {
  position: absolute;
  right: 0;
  bottom: -1rem;
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--txt-header);
  cursor: pointer;
  animation: bounce-left 1.4s ease infinite;
}

.page-change:active {
  outline: none;
  border: none;
  background-color: transparent;
}

.page-change--no-animated {
  display: flex;
  align-items: center;
  animation: none;
  cursor: default;
}

.page-change i {
  font-size: 2rem;
}

.page-change--no-animated i {
  margin-left: 0.2rem;
}

.page-change.back {
  left: 0;
  right: unset;
}

.list-btn {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.list-btn a {
  display: flex;
  align-items: center;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  width: 3.4rem;
  border-radius: 5px;
  padding: 0.5rem 0.7rem;
  transition: width 0.4s ease-in-out;
}

.github-btn {
  flex-direction: row-reverse;
  background-color: var(--black);
  color: #fff;
}

.show-btn {
  background-color: var(--txt-header);
  color: #fff;
}

.github-btn:hover,
.show-btn:hover {
  width: 10rem;
}

.github-btn i,
.show-btn i {
  font-size: 2rem;
}

.github-btn i {
  margin-left: 0.8rem;
}

.show-btn i {
  margin-right: 0.8rem;
}

.name--project {
  text-align: center;
  color: var(--red);
  font-style: normal;
}

.list-info {
  font-size: 1.5rem;
  margin-left: 1rem;
}

.list-info li:not(:last-child) {
  margin-bottom: 0.4rem;
}

/* Animations */
@keyframes bounce-left {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes show-up {
  10% {
    opacity: 0;
    transform: rotate(-20deg);
  }

  100% {
    opacity: 1;
    transform: rotate(0);
  }
}

/* Media Queries */
@media (max-width: 768px) {
  html {
    font-size: 50%;
  }
  .book-wrap {
    height: 70vh;
  }
}

@media (max-width: 430px) {
  html {
    font-size: 40%;
  }

  .book-wrap {
    height: 50vh;
    width: 90%;
  }

  h1 {
    font-size: 2.1re  m;
  }

  .name {
    font-size: 2.4rem;
  }

  .time {
    display: none;
  }
}
