@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
  --body-bg: #333;
  --paper: #f3dfc1;
  --cover: #2c3e50;
  --txt-header: #3e5771;

  --blue: #426782;
  --red: #db4437;
  --yellow: #f4b400;
  --black: #000;
  --grey: #7a7a7b;
}

/* ------ Common ----- */
.mt-s {
  margin-top: 1.4rem;
}

* {
  font-family: Times, Helvetica, serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  background-color: var(--body-bg);
  overflow: hidden;
}

.align-item--center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

h1 {
  margin-bottom: -0.6rem;
  font-size: 2.2rem;
  color: var(--blue);
  font-style: italic;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1.3rem;
}

a {
  text-decoration: none;
  color: unset;
}

.book-wrap {
  perspective: 250rem;
  height: 45rem;
  width: 66rem;
  border-radius: 1rem;
  padding: 2rem;
  position: relative;
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: var(--cover);
  box-shadow: 0 0 10rem rgba(0, 0, 0, 0.3);
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  transform-origin: 100% 100%;
}

.cover-left {
  z-index: -1;
}

.cover.turn {
  transform: rotateY(180deg);
  z-index: -1;
}

.book {
  perspective: 250rem;
  height: 100%;
  align-items: 1/1;
  display: flex;
}

.book-page {
  position: relative;
  width: 50%;
  height: 100%;
  padding: 2rem;
  display: grid;
  background-color: var(--paper);
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.2), 0px 0px 1.5rem rgba(0, 0, 0, 0.1);
}

.text-center {
  text-align: center;
}

.bg-img {
  background-position: initial;
  background-size: cover;
  background-repeat: no-repeat;
}

.avt {
  width: 7rem;
  aspect-ratio: 1/1;
  border-radius: 2rem;
  margin: auto;
}

.name {
  color: var(--blue);
  font-size: 2.6rem;
}

.social-list {
  margin-top: 0.8rem;
}

.social-list i {
  margin: 0 0.5rem;
  font-size: 2.2rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.social-list i.fb,
.social-list i.linked {
  color: #346a91;
}

.social-list i.git {
  color: var(--black);
}

.social-list i.fb:hover,
.social-list i.linked:hover {
  transform: scale(1.1) rotate(30deg);
}

.social-list i.git:hover {
  transform: scale(1.1) rotate(-30deg);
}

.introduce {
  text-align: left;
  font-size: 1.6rem;
  line-height: 1.6;
}

.txt-header {
  font-weight: 800;
  color: var(--blue);
}

.page-right {
  position: absolute;
  right: 0;
  transform-style: preserve-3d;
}

.page-front,
.page-back {
  position: absolute;
  height: 100%;
  aspect-ratio: 1/1;
  padding: 2rem;
  overflow: hidden;
}

.page-front {
  transform: rotateY(0deg) translateZ(1px);
}

.page-back {
  transform: rotateY(180deg) translateZ(1px);
}

.wrap-content {
  text-align: left;
  position: relative;
  height: 100%;
}

.flex-top {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.time {
  float: right;
  font-size: 1.2rem;
}

.page-change {
  position: absolute;
  right: 0;
  bottom: -1rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--txt-header);
  cursor: pointer;
  animation: bounce-left 1.4s ease infinite;
}

.page-change i {
  font-size: 2rem;
}

/* Animations */
@keyframes bounce-left {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}
